{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }} - Products</title>

    <link rel="stylesheet" href="{% static 'css/pro.css' %}">
</head>

<body>
    <h1>Products in {{ category.name }}</h1>

    {% if products %}
    <ul>
        {% for product in products %}
        <li>
            <h2>{{ product.name }}</h2>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
            <p>Price: ${{ product.price }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No products available in this category.</p>
    {% endif %}
</body>

</html>